#play {
    background-color: lightblue;
    height: 90vh;
}

.title {
    height: 10vh;
    background-color: green;
    align-items: center;
    justify-content: center;

}

#reset {
    width: 50vw;
    height: 5vh;
    margin-left: 25vw;
}

.game {
    text-align: center;
    margin: 0;
    display: grid;
    background-color: lightblue;
    grid-template-columns: auto;
    grid-template-rows: auto;


}

.but {
    width: 100%;
    height: 100%;
    background-color: gray;
    padding: 0;
    margin: 0;
}

.cobble {
    background-color: gray;

}

.hollow {
    background-color: black;
    color: white;
}

.player {
    background-color: purple;
}

.lava {
    background-color: red;
}

.special {
    background-color: gold;
}