.grid {
    display: grid;
    grid-gap: 0px;
}

#block {
}

img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#thespian, #tool {
    position: absolute;
    margin-left: .1%;
    margin-top: .1%;
}

#tool {
    position: absolute;
}

#item_frame {
    position: absolute;
    z-index: 2000;
}

#anmt.aim-left {
    position: absolute;
    animation-name: swing_left;
    animation-duration: .225s;
    animation-iteration-count: 1;
}

#anmt.aim-right {
    position: absolute;
    animation-name: swing_right;
    animation-duration: .225s;
    animation-iteration-count: 1;
}

#item_frame.anmt {
    animation-name: expand;
    animation-duration: .225s;
    animation-iteration-count: 1;
}

.left {
    animation-name: nudge_left;
    animation-duration: .2s;
    animation-iteration-count: 1;
}

.up {
    animation-name: nudge_up;
    animation-duration: .2s;
    animation-iteration-count: 1;
}

.right {
    animation-name: nudge_right;
    animation-duration: .2s;
    animation-iteration-count: 1;
}

.down {
    animation-name: nudge_down;
    animation-duration: .2s;
    animation-iteration-count: 1;
}

.hurt {
    animation-name: hurt;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}

.empty.hurt {
    animation-iteration-count: 1;
}

#health {
    position: fixed;
    top: 100px;
    z-index: 1000;
}

.heart {
    margin-left: 16px;
    width: 32px !important;
    height: 32px !important;
}

.empty {
    margin-left: 16px;
    width: 32px;
    height: 32px;
}

@keyframes hurt {
    from { transform: scale(1, 1); }
    6.6% { transform: scale(1.125, 1.125); }
    13.2% { transform: scale(1, 1); }
    to { transform: scale(1, 1); }
}

@keyframes expand {
    from { transform: scale(1.2, 1.2); }
    75% { transform: scale(1.2, 1.2); }
    to { transform: scale(1, 1); }
}

@keyframes nudge_left {
    from { margin-left: .1%; }
    50% { margin-left: -.1%; }
    to { margin-left: .1%; }
}

@keyframes nudge_up {
    from { margin-top: .1%; }
    50% { margin-top: -.1%; }
    to { margin-top: .1%; }
}

@keyframes nudge_right {
    from { margin-left: .1%; }
    50% { margin-left: .2%; }
    to { margin-left: .1%; }
}

@keyframes nudge_down {
    from { margin-top: .1%; }
    50% { margin-top: .2%; }
    to { margin-top: .1%; }
}

@keyframes swing_left {
    from { transform: rotate(-60deg); margin-left: .5%; }
    10% { transform: rotate(-120deg); margin-left: -.3%; }
    to { transform: rotate(-75deg); margin-left: .1%; }
}

@keyframes swing_right {
    from { transform: rotate(-15deg); margin-left: -.5%; }
    10% { transform: rotate(45deg); margin-left: .4%; }
    to { transform: rotate(0deg); margin-left: .1%; }
}